body
{
    font-family: 'Arial', sans-serif;
    background-color: #f0e6d6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.page-1>img
{
    width: 80px;
}
.cover h1, .cover h2 
{
    opacity: 0;
    animation: fadeIn 3s forwards;
}
@keyframes fadeIn
{
    to
    {
        opacity: 1;
    }
}
.book
{
    width: 60%;
    max-width: 800px;
    min-width: 300px;
    border: 1px solid #000;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    position: relative;
    padding: 20px;
    overflow: hidden;
}

img
{
    align-items: center;
    width: 60%;
}

.cover
{
    background-color: #d4af37;
    text-align: center;
    padding: 50px 20px;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
}

.cover h1
{
    margin: 0;
    font-size: 3em;
}

.cover h2
{
    margin: 10px 0 0;
    font-size: 1.5em;
}

.cover .open-book
{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}
.cover .open-book:hover
{
    transform: scale(1.1);
}
.page
{
    border-top: 1px solid #ccc;
    display: none;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.page h3
{
    margin-top: 0;
}

.project
{
    margin-bottom: 20px;
}

.project h4
{
    margin: 0;
    font-size: 1.2em;
}

.nav-buttons
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-button
{
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

@media (max-width: 768px)
{
    .book
    {
        width: 90%;
    }
}
